html {
    font-size: 62.5%;
}

body {
    background-color: var(--very-dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main-container{
    background-color: var(--dark-desaturated-blue);
    max-width: 900px;
    width: 85%;
    height: 320px;
    display: flex;
    border-radius: 1rem;
    overflow: hidden;
}

.main-container .container{
    width: 50%;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container .container:last-child{
    background-image: linear-gradient(var(--soft-violet-transparent), var(--soft-violet-transparent)), url(../images/image-header-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container .description {
    width: 330px;
    height: 260px;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container .description h1, .container .description h1 span {
    font-size: 2.8rem;
    font-weight: 700;
}

.container .description h1 span {
    color: var(--soft-violet);
    font-family: var(--font-paragraf);
}

.container .description p {
    color: var(--slightly-transparent-more);
    font-size: 1.2rem;
}

.container .description .text {
    width: 280px;
    line-height: 1.9rem;
}

.container .numbers {
    display: flex;
    width: 280px;
    justify-content: space-between;
}

.container .numbers h2 {
    font-size: 2rem;
    font-weight: 700;
    margin: 2px;
    color: var(--white);
}

.container .numbers p {
    text-transform: uppercase;
    font-size: 1rem;
}
